<h3>Accounts</h3>
<div class="grid grid-pad">
  <div *ngFor="let account of accounts" class="col-1-4">
    <div class="module account">
      <h4>{{account.username}}</h4>
    </div>
  </div>
</div>

<form>
    <label>Username</label>
    <input type="text" required [(ngModel)]="newAccount.username">
    <br>
    <label>Email</label>
    <input type="email" [(ngModel)]="newAccount.email">
    <br>
    <label>Password</label>
    <input type="password" [(ngModel)]="newAccount.password">
    <br>
    <button type="submit" (click)="createAccount()">Submit</button>
</form>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>