.env
.DS_Store
.idea/*
.idea
__pycache__/*
__pycache__
*.pyc
web/static/dist/*
web/static/dist
node_modules/*
node_modules
*.crt
*.key
*.pem
*.cer
web/gadget_board_backend_templates/dist/*
web/gadget_board_backend_templates
