<h1>Create account</h1>
<div *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<form *ngIf="formIsActive" (ngSubmit)="createAccount()" #createAccountForm="ngForm">
    <div class="form-group">
        <label>Username</label>
        <input type="text" 
            class="form-control" required
            id="username"
            [(ngModel)]="newAccount.username"
            name="username" #username="ngModel">
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Username is required
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" 
            class="form-control" required
            id="email"
            [(ngModel)]="newAccount.email"
            name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
        </div>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" 
            class="form-control" required
            id="password"
            [(ngModel)]="newAccount.password"
            name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
        </div>
    </div>

    <button type="submit" class="btn btn-default"
            [disabled]="!createAccountForm.form.valid">
        Submit
    </button>
</form>