<h3>Account detail for {{ urlUsername }}</h3>
<div *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="account">
    <div *ngIf="isAccountOwner">
        <form *ngIf="formIsActive" (ngSubmit)="updateAccount()" #updateAccountForm="ngForm">

            <div *ngIf="accountUpdated && updateAccountForm.form.pristine " class="alert alert-success">
                Account details updated!
            </div>

            <div class="form-group">
                <label>Change email</label>
                <input type="email" 
                    class="form-control" required
                    id="email"
                    [(ngModel)]="account.email"
                    name="email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    Email is required
                </div>
            </div>

            <div class="form-group">
                <label>New password</label>
                <input type="password" 
                    class="form-control"
                    id="password"
                    [(ngModel)]="account.password"
                    name="password" #password="ngModel">
            </div>

            <button type="submit" class="btn btn-default"
                    [disabled]="!updateAccountForm.form.valid">
                Submit
            </button>

        </form>

        <button class="btn btn-danger" (click)="deleteAccount()">
            Delete account
        </button>

    </div>

    <div *ngIf="!isAccountOwner">
        <form>
            <label>Email</label>
            <div class="form-group">
            <p>{{ account.email }}
            </div>
        </form>
    </div>
</div>