html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  height: 100%;
  padding: 15px;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  font-family: 'Open Sans', sans-serif;
}

* {
    /* Disable selection/Copy of UIWebView */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
    /* Exception for input areas */
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

#gadget-swim-thermo {
	position: relative;
	background-color: #e6f7ff;
	color: #737b7f;	
}

#gadget-swim-thermo-label-main {
	position: relative;
	text-align: center;
	font-size: 60px;
}

#gadget-swim-thermo-label-sub {
	position: absolute;
	text-align: right;
	font-size: 20px;
	bottom: 0px;
	right: 15px;
}

#gadget-swim-thermo-button-close {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 15px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.gadget-info {
	margin-bottom: 15px;
}

.active-nav-link {
  font-weight: bold;
}