.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

#gadget-swim-thermo {
	position: relative;
	background-color: #e6f7ff;
	color: #737b7f;	
}

#gadget-swim-thermo-label-main {
	position: relative;
	text-align: center;
	font-size: 60px;
}

#gadget-swim-thermo-label-sub {
	position: absolute;
	text-align: right;
	font-size: 20px;
	bottom: 0px;
	right: 15px;
}