<nav class="navbar navbar-default">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span data-toggle="collapse" data-target="#navbar-collapse-1.in">
      <a class="navbar-brand" [routerLink]="['/gadgets']">Mik4el's gadgets</a>
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn" data-toggle="collapse" data-target="#navbar-collapse-1.in">
	    	<a [routerLink]="['/accounts/create']">
          Create Account</a>
		</li>
	    <li *ngIf="!isLoggedIn" data-toggle="collapse" data-target="#navbar-collapse-1.in">
	    	<a [routerLink]="['accounts/login']">Login</a>
		</li>
	    <li *ngIf="isLoggedIn" data-toggle="collapse" data-target="#navbar-collapse-1.in">
	    	<a [routerLink]="['/accounts']">Accounts</a>
		</li>
	    <li *ngIf="isLoggedIn" data-toggle="collapse" data-target="#navbar-collapse-1.in">
	    	<a href="javascript:void(0)" (click)="logout()">Logout</a>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>