<div *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="gadget">
	<div class="gadget-info media">
		<div class="media-left">
			<img class="media-object" src="{{gadget.image_url}}" style="width: 115px;">
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{gadget.name}}</h4>    
			<p>{{gadget.description}}</p>
		</div>
	</div>
    <div *ngIf="gadgetDatum && gadget.name === 'Ekensberg Swim Thermo'">
        <gadget-swim-thermo 
        [gadgetDatum]="gadgetDatum"
        [fullscreenMode]="fullscreenMode"
        [gadgetSlug]="gadget.slug">
        </gadget-swim-thermo>
    </div>
</div>
