<div *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="gadget">
	<div class="gadget-info media">
		<img class="mr-3" src="{{gadget.image_url}}" style="width: 115px; height: 115px;">
		<div class="media-body">
			<h5 class="mt-0">{{gadget.name}}</h5>    
			{{gadget.description}}
		</div>
	</div>
    <div *ngIf="gadgetDatum && gadget.slug === 'ekensberg-swim-thermo'">
        <gadget-swim-thermo 
        [gadgetDatum]="gadgetDatum"
        [fullscreenMode]="fullscreenMode"
        [gadgetSlug]="gadget.slug">
        </gadget-swim-thermo>
    </div>
	<div *ngIf="gadgetDatum && gadget.slug === 'ekensberg-flight-radar'">
		<gadget-flight-radar
				[gadgetDatum]="gadgetDatum">
		</gadget-flight-radar>
	</div>
	<div *ngIf="gadgetDatum && gadget.slug === 'im-still-here'">
		<gadget-im-still-here
				[gadgetDatum]="gadgetDatum">
		</gadget-im-still-here>
	</div>
	<div *ngIf="gadgetDatum && gadget.slug === 'pi-tower-lamp'">
		<gadget-pi-tower-lamp
				[gadgetDatum]="gadgetDatum">
		</gadget-pi-tower-lamp>
	</div>
</div>
