<div *ngFor="let errorMessage of errorMessages">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<div class="list-group">
  <button *ngFor="let gadget of gadgets"
	 class="list-group-item touch"
	 (click)="gotoGadgetDetail(gadget)"
     type="button">
  	<div class="media">
		<div class="media-left">
			<img class="media-object"
				src="{{gadget.image_url}}" 
				style="width: 23px; height: 23px;">
		</div>
		<div class="media-body">
			{{gadget.name}}
		</div>
	</div>
  </button>
</div>